@media (max-width: 1400px) {

   // ==========    ABOUT AUTOR      ==========
   .about-autor {
      &__autor {
         margin-right: 100px;
      }

      &__text {
         font-size: 16px;
         line-height: 28px;
      }

      &__index {
         border-right: none;
      }
   }

   // ==========    LEARNING      ==========
   .learning {
      &__title {
         margin-bottom: 50px;
      }

      &__inner {
         padding: 0 30px;
         margin-bottom: 50px;
      }

      &__items {
         margin-right: 60px;
      }

      &__img-box {
         width: auto;
         height: auto;
      }

      &__img {
         position: relative;
         bottom: 0px;
         right: 0px;
         width: auto;
         height: auto;
         object-fit: contain;
      }
   }

   // ==========    RESPONSE      ==========
   .readers {
      &__inner {
         padding: 100px 30px;
      }

      &__about {
         margin-right: 20px;
      }
   }

   .response {
      &__item {
         width: 350px;
      }
   }

   // ==========    ARTICLES      ==========
   .articles {
      &__wrapper {
         padding: 50px 30px;
         margin-bottom: 50px;
      }

      &__title {
         margin-bottom: 50px;
      }

      &__item {
         max-width: 370px;
      }
   }
}

@media (max-width:1250px) {
   .menu {
      &__item+.menu__item {
         margin-left: 15px;
      }

      &__link {
         font-size: 14px;
      }
   }

   .header {
      &__wrapper {
         padding: 0 30px;
      }

      &__btn {
         width: 180px;
         height: 50px;
      }
   }

   /*     TOP CONTENT     */
   .top-content {
      &__inner {
         margin-bottom: 50px;
         padding: 50px 70px;
      }

      &__left {
         margin-right: 50px;
      }

      &__title {
         font-size: 36px;
         line-height: 68px;
      }

      &__btn {
         width: 170px;
         height: 50px;
         margin-right: 15px;
      }

      &__link {
         font-size: 16px;
         line-height: 24px;
         width: 132px;
      }

      &__item-title {
         font-size: 16px;
         line-height: 24px;
      }

      &__item-info {
         font-size: 14px;
         line-height: 21px;
      }

      &__right {
         max-width: 592px;
         max-height: 800px;
         animation-duration: 1s;
         animation-delay: .2s;
      }

      &__img {
         object-fit: contain;
         height: auto;
      }
   }

   // ==========    ABOUT AUTOR      ==========
   .about-autor {
      &__info {
         max-width: 450px;
      }

      &__autor {
         margin-right: 50px;
      }

      &__index {
         border-right: none;
      }

      &__contacts {
         width: 435px;
      }

      &__data {
         padding: 0;
      }
   }

   .learning {
      &__title {
         margin-bottom: 30px;
      }

      &__inner {
         padding: 0 30px;
         margin-bottom: 50px;
         flex-wrap: wrap;
         justify-content: center;
      }

      &__items {
         margin-right: 0;
         margin-bottom: 100px;
      }

      &__item {
         width: auto;
      }

      &__img-box {
         height: auto;
      }

      &__img {
         position: relative;
         bottom: 0px;
         right: 0px;
         width: auto;
         height: auto;
         object-fit: contain;
      }
   }

   // ==========    RESPONSE      ==========
   .readers {
      &__inner {
         padding: 50px 30px;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
      }

      &__about {
         margin-right: 0;
         margin-bottom: 30px;
         text-align: center;
      }

      &__title {
         max-width: 100%;
         text-align: center;

         &::after {
            left: 48%;
         }
      }

      &__text {
         max-width: 100%;
         text-align: center;
      }

      &__rating {
         display: inline-block;
      }

   }

   .response {
      margin: 0 auto;
      width: 721px;

      &__item {
         width: 350px;
      }
   }

   // ==========    ARTICLES      ==========
   .articles {
      &__item {
         max-width: 340px;
      }
   }

   // ==========    SUBSCRIPTION      ==========
   .subscription {
      &__wrapper {
         margin: 0 30px 120px;
      }
   }
}

@media (max-width: 1150px) {

   // ==========    AUTORS BOOK      ==========
   .autors-books {
      &__inner {
         padding: 0 30px;
      }

      &__items {
         margin-bottom: 50px;
         justify-content: center;
      }

      &__item {
         height: auto;
      }

      &__img-inner {
         margin-right: 10px;
         min-width: 235px;
      }

      &__img {
         width: 250px;
         height: 342px;
         object-fit: cover;
      }

      &__subtitle {
         font-size: 26px;
      }

      &__price {
         font-size: 21px;
         line-height: 33px;
         margin-bottom: 17px;
      }

      &__text {
         max-width: 170px;
         font-size: 19px;
         line-height: 28px;
         margin-bottom: 13px;
      }

      &__kind {
         font-size: 20px;
         line-height: 29px;
         margin-bottom: 20px;
         position: relative;
      }

      &__btn {
         width: 170px;
         height: 50px;
      }
   }

   // ==========    ABOUT AUTOR      ==========
   .about-autor {
      &__inner {
         flex-wrap: wrap;
         justify-content: center;
      }

      &__autor {
         margin-right: 0;
         margin-bottom: 50px;
      }

      &__text {
         font-size: 16px;
         line-height: 28px;
      }

      &__index {
         border-right: none;
      }

      &__contacts {
         width: 435px;
      }

      &__data {
         padding: 0;
      }
   }

   // ==========    CHAPTERS      ==========
   .chapters {
      &__inner {
         padding: 100px 30px;
      }

      &__item {
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__text {
         display: flex;
         flex: 1 0 auto;
      }

      &__quantity {
         gap: 15px;
         flex-wrap: wrap;
      }
   }

   // ==========    ARTICLES      ==========
   .articles {
      &__wrapper {
         padding: 50px 30px;
         margin-bottom: 50px;
      }

      &__title {
         margin-bottom: 50px;
      }

      &__inner {
         flex-wrap: wrap;
         justify-content: center;
         gap: 30px;
      }

      &__item {
         max-width: 420px;
      }
   }

   // ==========    SUBSCRIPTION      ==========
   .subscription {
      &__wrapper {
         margin: 0 30px 50px;
      }

      &__input {
         width: 500px;
      }
   }

   // ==========     FOOTER     ==========
   .footer-wrapper {
      padding: 50px 20px 0;
   }

   .logo__img {
      object-fit: contain;
   }

   .footer-top {
      flex-wrap: wrap;

      &__item {
         margin-right: 15px;
      }

      &__socials {
         flex-wrap: wrap;
      }

      &__socials-img {
         width: 35px;
         height: 35px;
      }
   }
}

@media (max-width:992px) {
   .header {
      &__btn {
         width: 130px;
         height: 35px;
         font-size: 12px;
      }
   }

   .logo {
      margin-right: 15px;
   }

   .socials {
      min-width: 105px;

      &__img {
         width: 25px;
         height: 25px;
      }
   }

   .menu {
      &__item+.menu__item {
         margin-left: 12px;
      }

      &__item:last-child {
         margin-right: 12px;
      }

      &__item:first-child {
         margin-left: 5px;
      }
   }

   .cart {
      margin-right: 20px;
   }

   /*     TOP CONTENT     */
   .top-content {
      &__inner {
         margin-bottom: 50px;
         padding: 50px 70px;
      }

      &__subtitle {
         font-size: 18px;
         line-height: 27px;
         margin-bottom: 20px;
      }

      &__title {
         font-size: 26px;
         line-height: 39px;
      }

      &__text {
         font-size: 16px;
      }

      &__btn {
         margin-bottom: 20px;
      }

      &__link {
         font-size: 16px;
         line-height: 24px;
         width: 132px;
      }

      &__info {
         flex-wrap: wrap;
      }

      &__item {
         margin-bottom: 12px;
      }

      &__item-title {
         margin-bottom: 0;
      }

      &__item-info {
         font-size: 14px;
         line-height: 21px;
      }
   }

   // ==========    AUTORS BOOK      ==========
   .autors-books {
      &__items {
         flex-wrap: wrap;
      }

      &__item {
         min-height: auto;
         margin-bottom: 30px;
      }

      &__img-inner {
         margin-right: 20px;
         min-width: 235px;
      }

      &__subtitle {
         font-size: 36px;
      }

      &__text {
         max-width: 470px;
      }
   }

   // ==========    PARTNERS      ==========
   .partners {
      &__inner {
         flex-wrap: wrap;
         justify-content: center;
         margin-bottom: 30px;
      }

      &__item {
         margin-bottom: 60px;
         max-width: 336px;
      }

      &__img {
         object-fit: cover
      }
   }

   // ==========    CHAPTERS      ==========
   .chapters {
      &__inner {
         padding: 50px 15px;
      }

      &__title {
         margin-bottom: 30px;
      }

      &__items {
         grid-gap: 15px;
      }

      &__item {
         padding: 40px;
      }

      &__subtitle {
         font-size: 20px;
      }

      &__text {
         font-size: 16px;
         line-height: 30px;
         margin-bottom: 30px;
      }

      &__deskr {
         font-size: 17px;
      }
   }

   // ==========    RESPONSE      ==========
   .readers {
      &__inner {
         padding: 30px 15px;
      }
   }

   .response {
      margin: 0 auto;
      width: 721px;

      &__item {
         width: 335px;
      }

      &__text {
         font-size: 16px;
         line-height: 26px;
         margin: 0 30px 30px 30px;
      }
   }

   // ==========    SUBSCRIPTION      ==========
   .subscription {
      &__input {
         width: 380px;
      }

      &__btn {
         width: 230px;
      }
   }

   // ==========     FOOTER     ==========

   .footer-wrapper {
      padding: 50px 20px 0;
   }

   .footer-top {
      justify-content: space-around;

      &__item {
         margin-bottom: 20px;
      }

      &__title {
         text-align: center;
      }
   }
}

@media (max-width:768px) {
   .header{
      &__wrapper{
         height: 60px;
         z-index: 900;
         background-color: $default;
      }
   }
   body.lock{
      overflow: hidden;
   }
   .main {
      padding-top: 60px;
      position: relative;
      z-index: 1;
   }

   .title {
      font-size: 36px;
   }

   .menu {
      &__items {
         overflow: auto;
         height: 100%;
         width: 100%;
         position: fixed;
         top: 60px;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: $default;
         display: block;
         text-align: center;
         // flex-direction: column;
         // align-items: center;
         padding-top: 30px;
         z-index: -10;
         transform: translateY(-200%);
         transition: all .2s;
         &.menu__items--active {
            transform: translateY(0);
         }
      }

      &__item {
         margin-bottom: 20px;
         padding-top: 20px;
         margin-left: 0;
         width: 100%;
         text-align: center;
      }
      &__item:last-child{
         padding-bottom: 60px;         
      }
      &__item+.menu__item {
         margin-left: 0;
      }

      &__item:last-child {
         margin-right: 0;
      }

      &__item:first-child {
         margin-left: 0;
      }

      &__link {
         font-size: 19px;
      }

      &__btn {
         display: block;
         width: 30px;
         height: 25px;
         background-color: transparent;
         border: none;
         margin-left: 30px;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         padding: 0;

         &::after,
         &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $accent;
         }

         &::after {
            bottom: 0;
         }

         &::before {
            top: 0;
         }
      }

      &__btn span {
         width: 100%;
         height: 3px;
         background-color: $accent;
      }
   }

   /*     TOP CONTENT     */
   .top-content {
      &__inner {
         flex-wrap: wrap;
         padding: 30px 50px;
      }

      &__left {
         margin: 0 auto;
      }

      &__title {
         font-size: 36px;
         line-height: 54px;
      }

      &__info {
         margin-bottom: 30px;
      }

      &__item {
         margin-bottom: 12px;
      }

      &__item-title {
         margin-bottom: 0;
      }

      &__right {
         animation-duration: 1s;
         animation-delay: 1.7s;
      }
   }

   // ==========    AUTORS BOOK      ==========
   .autors-books {
      &__title {
         font-size: 28px;
         margin-bottom: 20px;

         &::after {
            left: 40%;
         }
      }

      &__subtitle {
         font-size: 24px;
      }

      &__item {
         flex-wrap: wrap;
         margin-bottom: 30px;
      }

      &__img-inner {
         margin-right: 20px;
         margin-bottom: 30px;
         min-width: 235px;
      }

   }

   // ==========    ABOUT AUTOR      ==========
   .about-autor {
      .img-animated {
         right: 25px;
         bottom: 25px;
      }

      &__inner {
         flex-wrap: wrap;
         justify-content: center;
         padding: 30px 0;
      }

      &__info {
         max-width: 370px;
         padding: 0;
      }

      &__title {
         font-size: 24px;
         line-height: 36px;
      }

      &__autor {
         min-width: 0;
         height: auto;
      }

      &__img {
         position: relative;
         min-width: auto;
         height: auto;
      }

      &__text {
         font-size: 16px;
         line-height: 28px;
      }

      &__indexes {
         flex-wrap: wrap;
      }

      &__contacts {
         width: 100%;
         flex-wrap: wrap;
         height: auto;
         justify-content: center;
      }

      &__qr {
         margin-bottom: 20px;
         margin-right: 0;
      }
   }

   // ==========    PARTNERS      ==========
   .partners {
      &__title {
         margin-bottom: 20px;
         font-size: 36px;
      }

      &__inner {
         flex-wrap: wrap;
         justify-content: center;
         margin-bottom: 30px;
      }

      &__item {
         margin-bottom: 60px;
      }

      &__img {
         object-fit: cover
      }
   }

   // ==========    GET BOOK      ==========
   .get-book {
      &__inner {
         justify-content: center;
         flex-wrap: wrap;
         padding: 30px;
         margin-bottom: 50px;
      }

      &__info {
         width: auto;
         margin-bottom: 30px;
      }

      &__title {
         font-size: 36px;
      }
   }

   .learning {
      &__items {
         margin-right: 0;
      }

      &__text {
         font-size: 18px;
      }

      &__img-box {
         padding: 0 15px;
      }
   }

   // ==========    CHAPTERS      ==========
   .chapters {
      &__items {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   .readers {
      &__inner {
         padding: 30px 0;
      }
   }

   .response {
      margin: 0 auto;
      width: auto;
      height: auto;
      display: block;

      &__item {
         width: auto;
         margin-bottom: 15px;
      }
   }

   // ==========    SUBSCRIPTION      ==========
   .subscription {
      &__text {
         padding: 0 15px;
      }

      &__input {
         width: 90%;
         margin-bottom: 20px;
      }

      &__btn {
         width: 90%;
      }
   }
}

@media (max-width:650px) {
   .footer-top {
      display: block;

      &__item {
         margin-right: 0;
         margin-bottom: 30px;
      }

      &__title {
         text-align: left;
         pointer-events: auto;
      }

      &__list {
         display: none;
      }
   }
}

@media (max-width:550px) {
   .socials {
      display: none;
   }

   .header {
      &__wrapper {
         flex-wrap: wrap;
         padding: 0 15px;
      }

      &__btn {
         width: 90px;
      }
   }

   .menu {
      &__btn {
         margin-left: 10px;
      }
   }

   .cart {
      margin-right: 10px;
   }

   .learning {
      &__items {
         margin-right: 0;
         display: block;
      }

      &__item {
         padding: 15px;
         margin-bottom: 15px;
      }

      &__num {
         margin: 15px;
      }

      &__text {
         font-size: 18px;
         padding-left: 15px;
      }

      &__img-box {
         padding: 0 15px;
      }
   }

   .chapters {
      &__btn {
         width: 230px;
         font-size: 16px;
      }
   }

   .readers {
      &__title {
         font-size: 36px;

         &::after {
            left: 43%;
         }
      }
   }

   .articles {
      &__wrapper {
         padding: 50px 0px;
         margin-bottom: 50px;
      }

      &__title {
         margin-bottom: 50px;
         font-size: 30px;

         &::after {
            left: 43%;
         }
      }

      &__item {
         max-width: 420px;
      }

      &__subtitle {
         font-size: 18px;
      }

      &__text {
         font-size: 16px;
         margin-bottom: 20px;
      }

      &__readmore {
         font-size: 16px;
      }

      &__date {
         font-size: 16px;
      }
   }

   // ==========    SUBSCRIPTION      ==========
   .subscription {
      &__wrapper {
         margin: 20px 0;
      }

      &__title {
         font-size: 30px;

         &::after {
            left: 43%;
         }
      }

      &__text {
         font-size: 16px;
         padding: 0 10px;
      }
   }
}

@media (max-width:370px) {
   .header {
      &__wrapper {
         height: 60px;
      }

      &__btn {
         display: none;
      }

      &__left {
         max-width: 40%;
      }
   }

   .logo {
      margin-right: 5px;

      &__img {
         max-width: 80%;
      }
   }

   .menu {
      &__items {
         top: 60px;
      }
   }

   .main {
      padding-top: 60px;
   }

   /*     TOP CONTENT     */
   .top-content {
      &__title {
         font-size: 24px;
         line-height: 36px;
      }

      &__text {
         font-size: 14px;
         line-height: 21px;
      }
   }

   // ==========    ABOUT AUTOR      ==========
   .about-autor {
      .img-animated {
         right: 15px;
         bottom: 15px;
      }

      &__inner {
         padding: 0;
      }

      &__info {
         max-width: 320px;
         padding: 0;
      }

      &__contacts {
         width: auto;
      }

      &__qr {
         margin-bottom: 20px;
         margin-right: 0;
      }

      &__data {
         font-size: 14px;
      }

      &__img {
         right: 15px;
         bottom: 15px;
      }
   }

   .learning {
      &__title {
         font-size: 30px;

         &::after {
            left: 43%;
         }
      }
   }

   // ==========    CHAPTERS      ==========
   .chapters {
      &__btn {
         width: 230px;
         font-size: 16px;
      }

      &__inner {
         margin-bottom: 50px;
      }

      &__title {
         font-size: 30px;

         &::after {
            left: 43%;
         }
      }
   }

   .readers {
      &__title {
         font-size: 30px;

         &::after {
            left: 40%;
         }
      }
   }

   .response {
      &__img {
         width: 50px;
         height: 50px;
         margin: 15px;

      }

      &__name {
         font-size: 18px;
         margin-bottom: 5px;

      }

      &__title {
         font-size: 18px;
         line-height: 27px;
         margin-left: 15px;
      }

      &__text {
         margin: 0 15px 15px 15px;
      }
   }

   // ==========    ARTICLES      ==========
   .articles {
      &__item {
         max-width: 420px;
      }

      &__subtitle {
         font-size: 18px;
         padding-left: 0;
         width: 100%;
      }

      &__text {
         font-size: 16px;
         margin-bottom: 20px;
         padding: 0 10px;
      }

      &__readmore {
         font-size: 14px;
      }

      &__date {
         font-size: 14px;
      }
   }

   .footer-top {
      &__contact-block {
         flex-wrap: wrap;
      }
   }
}