<main class="main">
   <section class="top-content">
      <div class="container">
         <div class="top-content__inner">
            <div class="top-content__left">
               <h5 class="top-content__subtitle">Welcome to Pages!!!</h5>
               <h1 class="top-content__title">Your Books From The Best Writer.</h1>
               <p class="top-content__text">We believe that reading books are essential to a healthy culture. They’re
                  where authors can connect with readers.</p>
               <div class="top-content__buttons">
                  <button class="top-content__btn">order today</button>
                  <a class="top-content__link" href="#">Read Free Demo</a>
               </div>
               <div class="top-content__info">
                  <div class="top-content__item">
                     <div class="top-content__item-title">Pages:</div>
                     <div class="top-content__item-info">250pages</div>
                  </div>
                  <div class="top-content__item">
                     <div class="top-content__item-title">Length:</div>
                     <div class="top-content__item-info">10 Hours</div>
                  </div>
                  <div class="top-content__item">
                     <div class="top-content__item-title">Rating:</div>
                     <div class="top-content__item-info">4.5/5 (305 ratings)</div>
                  </div>
               </div>
            </div>
            <div class="top-content__right">
               <img class="top-content__img" src="../images/dark-light.jpg" alt="info img">
            </div>
         </div>
      </div>
   </section>
   <section class="autors-books">
      <div class="container">
         <div class="autors-books__inner">
            <h3 class="title">The Author’s Book</h3>
            <div class="autors-books__items">
               <div class="autors-books__item">
                  <div class="autors-books__img-inner">
                     <img class="autors-books__img" src="../images/autors-ones.jpg" alt="autors image">
                  </div>
                  <div class="autors-books__info">
                     <h4 class="autors-books__subtitle">Atomic One’s</h4>
                     <div class="autors-books__price">$ 13.84 USD</div>
                     <p class="autors-books__text">As the book contains theoretical content as well as solved questions.
                     </p>
                     <div class="autors-books__kind">Printed Book</div>
                     <button class="autors-books__btn">Order Now</button>
                  </div>
               </div>
               <div class="autors-books__item">
                  <div class="autors-books__img-inner">
                     <img class="autors-books__img" src="../images/dark-light.jpg" alt="autors image">
                  </div>
                  <div class="autors-books__info">
                     <h4 class="autors-books__subtitle">The Dark Light</h4>
                     <div class="autors-books__price">$ 86.11 USD</div>
                     <p class="autors-books__text">As the book contains theoretical content as well as solved questions.
                     </p>
                     <div class="autors-books__kind">Printed Book</div>
                     <button class="autors-books__btn">Order Now</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>